@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }

.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #FAFAFA;
  min-height: 100vh;
  max-width: 100vw;
  gap: 1em;
  flex-grow: 0;

  color: #292929;
  text-align: center;
  font-family: 'Inter';
  font-size: 1rem;
  font-weight: 700;
}