@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }

.App {
  display: flex;
  justify-content: center;
  background-color: #FAFAFA;
  min-height: 100vh;

  color: #292929;
  text-align: center;
  font-family: 'Inter';
  font-size: 18px;
  font-weight: 700;
}