.edit-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}

.edit-contents-wrapper {
    display: flex;
    justify-content: space-between;

    width: 75rem;
    height: 70rem;

    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px 0px #00000033;

    margin-top: 3.75rem;
    margin-bottom: 3.5rem;
}

.edit-side {
    display: flex;
    flex-direction: column;
}

.edit-email {
    width: 30rem;
}

.leave {
    margin-top: 4rem;
    margin-right: 3rem;

    color: #F05656;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.component {
    display: grid;
    grid-template-columns: auto auto;
    margin: 2.5rem;
}

.input-wrapper {
    border-style: none;
    width: 25rem;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: left;
}

.component-label {
    width: 5.5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.13rem;
    text-align: left;
    padding-top: 0.625rem;
    margin-right: 0.75rem;
}

.required {
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1rem;
    text-align: left;
    color: #757575;
}

.component-element {
    display: grid;
    grid-template-rows: auto auto;
    justify-content: left;
}

.edit-input-single {
    width: 25rem;
    height: 2.5rem;
    border-radius: 6px;
    border: 1px solid #DBDBDB;
    margin: 0.3rem;

    text-align: left;
    display: flex;
    align-items: center;

    font-size: 1rem;
    font-weight: 400;
    line-height: 1.13rem;
}

.separator {
    text-align: center;
    display: flex;
    flex: 0 0 1.25rem;
    line-height: 2.5rem;
    color: #DBDBDB;
}

.edit-info {
    text-align: left;
    padding-left: 3.125rem;
}

.edit-button {
    display: flex;
    width: 77rem;
    justify-content: right;
}

input[type='radio']:checked {
    border-radius: 20%;
    background-color: #35C5F0;
}