.label {
    font-weight: 400;
    font-size: 0.81rem;

    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
}

h3 {
    color: #000000;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.36rem;
}

.heading {
    color: #000000;
    text-align: left;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.73rem;
}

.num {
    color: #35C5F0;
}

.fnum {
    color: #000000;
    font-size: 0.81rem;
    font-weight: 700;
    line-height: 1.73rem;
}

.header-bottom {
    background-color: #FFFFFF;
    width: 100vw;
    color: #000000;
    display: flex;
    font-size: 1rem;

    text-align: center;
    align-items: center;
    justify-content: center;

    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #EAEBEF;
}

@media screen and (min-width: 1024px){
    .contents {
        background-color: #FFFFFF;

        display: grid;
        grid-template-columns: auto auto auto auto;
        justify-content: center;
    }

    .box-wrapper {
        margin-top: 3rem;
        margin-left: 6.25rem;
    }
}

@media screen and (max-width: 1023px) {
    .contents {
        background-color: #FFFFFF;

        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profile-top {
        width: 70vw;
        display: flex;
    }

    .profile-bottom {
        width: 90%;
        display: flex;
        justify-content: space-between;
    }

    .box-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.profile-pic {
    width: 8.125rem;
    height: 8rem;

    margin: 0.625rem;
}

.name {
    font-size: 1.625rem;
    font-weight: 700;

    margin: 0.625rem;
}

.follow {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.profile-bottom {
    display: grid;
    grid-template-columns: auto auto auto;
}

.box {
    margin-bottom: 3.86rem;
}